<!DOCTYPE html>
<html>
    <head>
        <title>Pagina integrali</title>
    </head>

    <body>
        <h1>Insert integrals</h1>

        <form method="post">
            <input type="text" name="integral" placeholder="Insert the integral"><br>
            <input type="text" name="side1" placeholder="Insert the first side">
            <input type="text" name="side2" placeholder="Inserti the second side">
            <input type="submit" value="Submit" name="submit" class="btn">
            <h6>If you don't want to calculate a definite integral let the two size white.</h6>
        </form>        
    </body>
</html>